@charset "UTF-8";
html {
  padding: 0;
  margin: 0;
  font-family: "PingFang TC", "蘋方-繁", "DROID SANS FALLBACK", "Noto Sans TC", sans-serif;
  background: #0F2027;
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  background-attachment: fixed;
  font-weight: 300;
  overflow: hidden;
  --plyr-audio-controls-background: rgba(0, 0, 0, 0);
  --plyr-audio-control-color: #ddd;
}
html ::-webkit-scrollbar {
  width: 8px;
  background: #0F2027;
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}
html ::-webkit-scrollbar-track {
  background: transparent;
}
html ::-webkit-scrollbar-thumb {
  background: #838e93;
  border-radius: 10px;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #636b6f;
}
html body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
html body h2,
html body h3 {
  font-weight: 500;
}

header {
  display: flex;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  height: 40px;
  padding: 10px 15px;
  align-items: center;
  justify-content: space-between;
}
header img {
  height: 100%;
}

h1,
p {
  color: #fff;
}

.container {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  padding: 0;
  height: 80%;
  flex-wrap: wrap;
  justify-content: center;
}
.container .radio {
  z-index: 99;
  margin-top: 40px;
  width: 200px;
}
.container .radio img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: 0;
  transform-origin: 0;
  transform: 0;
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
  cursor: pointer;
}
.container .radio img.plus-img {
  transform: scale(1.2);
}
.container .info {
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: 100vw;
  color: #fff;
}
.container .info h2 {
  font-size: 1.5em;
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
}
.container .info h5 {
  display: block;
  width: 100%;
  margin: 0px 0 15px;
}
.container .info .button.open-info {
  display: block;
  position: relative;
  margin: 10px 0;
  max-width: 100vw;
}
.container .info .button.open-info .contral-btn {
  margin: 0 auto;
  text-align: center;
}
.container .info .contraler {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.container .info .contraler .button .contral-btn {
  position: relative;
  width: auto;
  height: auto;
  margin: 10px 25px 20px;
  border-radius: 200px;
  background: transparent;
  color: #fff;
  text-align: left;
  cursor: pointer;
  border: none;
}
.container .info .contraler .button .contral-btn span {
  position: relative;
  top: 2px;
  font-size: 40px;
}
.container .info .contraler .button.volume-btn {
  order: 1;
}
.container .info .contraler .button.play-btn {
  order: 2;
}
.container .info .contraler .button.open-link-btn {
  display: block;
  order: 3;
  flex-grow: 0;
}
.container .info .contraler .button.open-link-btn .open_in_new {
  display: block;
}
.container .info .contraler .button .volume_off span,
.container .info .contraler .button .volume_up span {
  font-size: 30px;
}
.container .info .contraler .button .play,
.container .info .contraler .button .pause {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
}
.container .info .contraler .button .play span,
.container .info .contraler .button .pause span {
  font-size: 55px;
}
.container .info .contraler .button .open_in_new {
  margin: 20px 25px 20px;
  flex-grow: 0;
  text-align: center;
}
.container .info .contraler .button .open_in_new span {
  font-size: 30px;
}

.btn-hidden {
  display: none;
}

.plyr {
  display: none;
}/*# sourceMappingURL=style.css.map */